:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
}
@media screen and (max-width: 768px) {
  .column {
    float: left;
    width: 100% !important; 
  } 
  
  nav {
    height: 7rem;
    overflow: auto !important;
  }
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: auto;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  white-space: wrap;
  overflow: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 6px 12px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-right: 0rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


body {
  background-color: #ebebeb;
  overflow-x: auto;
  overflow-y: scroll;
  }
  
  .header {
    font-size: 1.6rem;
    color: var(--clr-primary-5);
  }
span{
  margin-top: 20px;
}
  table{
    float: left;
    /* display: flex; */
    font-family: "Pontano Sans";
    margin: 0 auto;   
    width: 30%;
    border: black 2px solid;
  }

  td {
    padding: 10px; 
    border: black 1px solid;
    height: 150px;
    width: 250px;
    text-align: center;
  }
  nav {
    background: #fff;
    height: 10%;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;  
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
  }
  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--clr-primary-1);
    margin-right: 2rem;
  }
  nav a:hover {
    color: var(--clr-primary-5);
  }
  
  .container{
    margin-top: 2.2em;
  }

  .selectedHero
  {
    color: #5c5c5c;
  }

  img {
    max-width: 100%;
  }

  button{
    margin-top: 5px;
    height:35px;
    width:auto;
    font-size: 14px;
    background-color: #dbdbdb;
  }

  button:hover {background-color: #dedede}

  button:active {
  background-color: #adadad;
  transform: translateY(2px);
}

.column {
  float: left;
  width: 50%;
}

.table-column {
  float: left;
  width: 33%;
}

.row {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-box
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 800px; */
  max-height: 120px;
}